* {
  box-sizing: border-box;
  margin: 0;
  color: #f4e285;
  font-size: 24px;
}

body {
  width: 100%;
  height: 100vh;

  background-color: #5b8e7d;
}

main {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
}

.name {
  color: #f4a259;
  font-weight: bold;
}
.upper-block {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.about-me {
  width: 40%;
}

.my-photo > img {
  height: 400px;
  width: 400px;

  border-radius: 50%;
  border: 3px solid #f4a259;
}

.info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.social-media {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.lower-block {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
}

.work-ex,
.hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 40%;
}

.work-ex:hover,
.hobbies:hover {
  background-image: url(macos-big-sur-1920x1080-23121.jpg);
  border-radius: 30px;
  height: auto;
}

/* .vk a:hover {
  background: #5d84ae;
  color: #fff;
}
.telegram a:hover {
  background: #249bd7;
  color: #fff;
} */

.insta:hover {
  fill: linear-gradient(
    to bottom left,
    #f09433,
    #e6683c,
    #dc2743,
    #cc2366,
    #bc1888
  );
  color: #fff;
}
